/* Tùy chỉnh độ rộng riêng cho khối chứa Form */
.account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px
}
.content-form {
    flex: 1;
    max-width: 600px;
    min-width: 320px;
}

.card-header {
    color: white;
    background-color: #2E2F3F;
}

/* Đổi màu viền xanh đen khi người dùng click chọn ô input */
.focus-custom:focus {
    border-color: blue box-shadow: 0 0 0 0.25rem rgba(45, 49, 66, 0.15);
}

.input-group-text {
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}
