@model IEnumerable<SmartNovel.Models.Novel>

<div class="card border-0 shadow-sm top-novels-widget mt-3">
    <div class="card-header bg-dark text-white py-2">
        <h6 class="fw-bold text-uppercase mb-0 fs-7">
            <i class="bi bi-journal-arrow-up me-2"></i>Truyện mới cập nhật
        </h6>
    </div>

    <div class="card-body p-0">
        <div class="novel-list">
            @foreach (var truyen in Model)
            {
                <div class="novel-item d-flex align-items-center justify-content-between p-2 border-bottom">
                    <p class="mb-0 text-truncate fw-bold fs-7" style="max-width: 180px;">
                        <a href="/Novel/@truyen.Slug" class="text-decoration-none novel-name-link">@truyen.Title</a>
                    </p>

                    <span class="text-muted text-xs">Chuương @truyen.Chapters.Count </span>
                </div>
            }
        </div>
    </div>
</div>