<h1 >
    NÀ NÁ NA NA ANH DƯƠNG MIXI 
</h1>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            @await Component.InvokeAsync("FeaturedNovel")
            @await Component.InvokeAsync("RecommendedNovels")
          @await Component.InvokeAsync("SidebarNewUpdate") 
            @await Component.InvokeAsync("HotNovels")

        </div> 

        <div class="col-lg-3 col-md-12">

            @await Component.InvokeAsync("SidebarTopAuthors")

            @await Component.InvokeAsync("SidebarNewUpdate")

            @await Component.InvokeAsync("SidebarAdminRecommend")

        </div>

    </div>
</div>